/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  background: #212121;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  margin: 10px 0;
  color: #222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
}

p {
  margin: 10px 0 15px 0;
}

a {
  text-decoration: none;
  color: #3975c0;
  text-shadow: none;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul li {
  list-style: inside;
  padding-left: 2px;
}

ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

#header {
  background: #303030;
}

#header div {
  padding-top: 50px;
  padding-bottom: 30px;
  position: relative;
  max-width: 640px;
  margin: 0 auto;
}

#header h1 {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  text-shadow: #111 0px 0px 10px;
}

#header h2 {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  background: none;
  text-shadow: #111 0px 0px 10px;

  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-top: 40px;
  margin-left: -20px;
}

#main {
  width: 100%;
  background: #fff;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main a:hover {
  text-decoration: underline;
}

#main h1, h2 {
  font-size: 28px;
  font-weight: bold;
}

#main h1 {
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-top: 40px;
  margin-left: -20px;
  background: #E5EBE9;

  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

#main section {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  #header h1 {
    font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }
}
